{
  "extends": ["next/core-web-vitals", "@frankda"],
  // "extends": ["@frankda"]
  // "extends": ["next/core-web-vitals"],
  // "rules": {
  //   "array-bracket-spacing": ["error", "always", { "singleValue": false }],
  //   "indent": [2, 2],
  //   "object-curly-spacing": ["error", "always"],
  //   "quotes": [2, "single", { "avoidEscape": true }],
  //   "semi": [2, "never"]
  // }
}
